@model DynamicContent.Plugin.Model.EditTemplateModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="seoModalLabel">@Localizer[nameof(Languages.LanguageStrings.TemplateEditor)]</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="validation-summary-errors" data-valmsg-summary="true">
            <ul id="errorList">
                <li style="display:none"></li>
            </ul>
        </div>
        @using (Html.BeginForm(nameof(DynamicContent.Plugin.Controllers.DynamicContentController.UpdateTemplate), DynamicContent.Plugin.Controllers.DynamicContentController.Name, FormMethod.Post))
        {
            @Html.HiddenFor(m => m.CacheId)
            @Html.HiddenFor(m => m.UniqueId)
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                    <a class="nav-item nav-link" id="nav-size-tab" data-toggle="tab" href="#nav-size" role="tab" aria-controls="nav-size" aria-selected="false">Size</a>
                    @if (!String.IsNullOrEmpty(Model.TemplateEditor))
                    {
                        <a class="nav-item nav-link" id="nav-custom-tab" data-toggle="tab" href="#nav-custom" role="tab" aria-controls="nav-custom" aria-selected="false">@Model.Name</a>
                    }
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent" style="margin: 5px;">
                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                    <div class="form-row">
                        <div class="col">
                            @Html.LabelFor(m => m.SortOrder)
                            @Html.TextBoxFor(m => m.SortOrder, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="nav-size" role="tabpanel" aria-labelledby="nav-size-tab">
                    <div class="form-row">
                        <div class="col">
                            @Html.LabelFor(m => m.HeightType)
                            @Html.DropDownListFor(m => m.HeightType, new SelectList(DynamicContent.Plugin.Controllers.DynamicContentController.GetHeightTypes(), "Description", "Description"), new { @class = "form-control" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(m => m.Height)
                            @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            @Html.LabelFor(m => m.WidthType)
                            @Html.DropDownListFor(m => m.WidthType, new SelectList(DynamicContent.Plugin.Controllers.DynamicContentController.GetWidthTypes(), "Description", "Description"), new { @class = "form-control" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(m => m.Width)
                            @Html.TextBoxFor(m => m.Width, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(Model.TemplateEditor))
                {
                    <div class="tab-pane fade" id="nav-custom" role="tabpanel" aria-labelledby="nav-custom-tab">

                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var customData = { data: '@Model.Data' };
                            $.ajax({
                                type: 'GET',
                                url: '@Model.TemplateEditor',
                                data: customData,
                                cache: false,
                                success: function (response) {
                                    $('#nav-custom').html(response);
                                },
                            });
                        });
                    </script>

                }
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="dynamicContent.submitTemplate(this)">Save</button>
                </div>
            </div>
        }
    </div>
</div>
