@model Resources.Plugin.Models.CreateCategoryModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = Model.SeoTitle;
}
<link rel="stylesheet" href="/css/resources.css" />
<div class="row res-row">
<div class="col">
<h1>@Localizer[nameof(Languages.LanguageStrings.CreateCategory)]</h1>
</div>
</div>
<div class="row">
<div class="col">
@Html.ValidationSummary(true)
</div>
</div>
@using (Html.BeginForm(nameof(Resources.Plugin.Controllers.ResourcesController.CreateCategory), Resources.Plugin.Controllers.ResourcesController.Name, FormMethod.Post, new { id = "createCategoryForm" }))
{
@Html.HiddenFor(m => m.ParentId)
<div class="row res-row">
<div class="col-sm-12 col-md-4 col-lg-3">
@Html.LabelFor(m => m.Name)
</div>
<div class="col-sm-12 col-md-5 col-lg-4">
@Html.TextBoxFor(m => m.Name, new { @class = "form-control", autocomplete = "off" })
@Html.ValidationMessageFor(m => m.Name)
</div>
</div>
<div class="row res-row">
<div class="col-sm-12 col-md-4 col-lg-3">
@Html.LabelFor(m => m.Description)
</div>
<div class="col-sm-12 col-md-5 col-lg-4">
@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
@Html.ValidationMessageFor(m => m.Description)
</div>
</div>
<div class="row res-row">
<div class="col">
<input id="btnCreateCategory" class="btn btn-primary" type="submit" value="@Localizer[nameof(Languages.LanguageStrings.Create)]" />
</div>
</div>
}