@using SharedPluginFeatures;
@using Shared.Classes

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model SharedPluginFeatures.BaseModel
@{
    bool loggedIn = Model.UserIsLoggedIn;
    ShoppingCartSummary cartSummary = Model.CartSummary;
    var items = Localizer[nameof(Languages.LanguageStrings.Items)];
    string cost = 0d.ToString("C", Model.CartSummary.Culture);

    if (cartSummary != null)
    {
        items = cartSummary.TotalItems == 1 ? Localizer[nameof(Languages.LanguageStrings.Item)] : Localizer[nameof(Languages.LanguageStrings.Items)];
        cost = cartSummary.Total.ToString("C", Model.CartSummary.Culture);
    }

    string title = (string)Context.Items[SharedPluginFeatures.Constants.SeoTitle];
    string keywords = (string)Context.Items[SharedPluginFeatures.Constants.SeoMetaKeywords];
    string description = (string)Context.Items[SharedPluginFeatures.Constants.SeoMetaDescription];
    string author = (string)Context.Items[SharedPluginFeatures.Constants.SeoMetaAuthor];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (!String.IsNullOrEmpty(author))
    {
        <meta name="author" content="@author" />
    }
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />
    <title>@title - AspNetCore.PluginManager</title>
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY=" crossorigin="anonymous"></script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AspNetCore.PluginManager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            // dynamically add menu items from plugins
                            ISharedPluginHelper sharedPluginHelper = (ISharedPluginHelper)Context.RequestServices.GetService(typeof(ISharedPluginHelper));
                            foreach (MainMenuItem menuItem in sharedPluginHelper.BuildMainMenu())
                            {
                                <li class="nav-item"><a asp-area="@menuItem.Area()" asp-controller="@menuItem.Controller()" asp-action="@menuItem.Action()" class="nav-link text-dark">@menuItem.Name()</a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="float:right;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (!loggedIn)
                            {
                                <a class="nav-link text-dark" href="/Login/Index">@Localizer[nameof(Languages.LanguageStrings.Login)]</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" href="/Login/Logout">@Localizer[nameof(Languages.LanguageStrings.Logout)]</a>
                            }
                        </li>
                        <li class="nav-item nav-item-nohover">
                            @await Html.PartialAsync("~/Views/Search/_ShowQuickSearch.cshtml", new SearchPlugin.Models.QuickSearchViewModel())
                        </li>
                    </ul>
                    <div class="cart-summary">
                        <a href="/Cart/">
                            <img src="~/images/Cart/shopping-cart-24.png" />
                            <p>@Model.CartSummary.TotalItems @items<span>@cost</span></p>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <script src="~/js/SystemAdmin.js"></script>

    @if (!Model.UserHasCookieConsent)
    {
        <partial name="_CookieConsentPartial" />
    }

    @*@RenderSection("Scripts", required: false)*@
    <div class="container">

        <div class="body-content">
            <main role="main" class="pb-3">
                <div class="row" style="margin: 0 0 8px 0;">
                    <div class="col" style="background-color: #eee;">
                        <div class="bc">@Html.Raw(Model.BreadcrumbData())</div>
                    </div>
                </div>
                @RenderBody()
            </main>
            <hr />
            <footer>
                <div class="row footer">
                    <div class="col-xs-12 col-lg-6">@await Html.PartialAsync("_LanguageSelection")</div>
                    <div class="col-xs-2 col-lg-2"><a href="/Company/About/">@Localizer[nameof(Languages.LanguageStrings.About)]</a></div>
                    <div class="col-xs-2 col-lg-2"><a href="/Company/Cookies/">@Localizer[nameof(Languages.LanguageStrings.CookiePolicy)]</a></div>
                    <div class="col-xs-2 col-lg-2"><a href="/Docs/">@Localizer[nameof(Languages.LanguageStrings.Documentation)]</a></div>
                </div>
                <div class="row footer">
                    <div class="col-xs-12"><p>&copy; 2018 - 2022 - Simon Carter.  All Rights Reserved.</p></div>
                </div>
            </footer>
        </div>

        @if (Model.CanManageSeoData)
        {
            @await Html.PartialAsync("_UpdatePageSeoDlg.cshtml")
        }
    </div>

</body>
</html>
