@model HelpdeskPlugin.Models.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer[nameof(Languages.LanguageStrings.Helpdesk)];
}

<div class="bc">@Html.Raw(Model.BreadcrumbData())</div>

<h2>@Localizer[nameof(Languages.LanguageStrings.Helpdesk)]</h2>

<link rel="stylesheet" href="/css/Helpdesk.css" />
<script src="~/js/helpdesk.js"></script>

<div class="helpdeskContent">
    <ul class="helpdeskOptions fixed">
        @if (Model.ShowTickets)
        {
            <li class="findTicket"><a href="/Helpdesk/FindTicket">@Localizer[nameof(Languages.LanguageStrings.FindATicket)]</a></li>
            <li class="submitTicket"><a href="/Helpdesk/SubmitTicket">@Localizer[nameof(Languages.LanguageStrings.SubmitTicket)]</a></li>
        }

        @if (Model.ShowFaq)
        {
            <li class="faq"><a href="/Helpdesk/Faq">@Localizer[nameof(Languages.LanguageStrings.FrequentlyAskedQuestions)]</a></li>
        }

        @if (Model.ShowFeedback)
        {
            <li class="feedback"><a href="/Helpdesk/Feedback">@Localizer[nameof(Languages.LanguageStrings.Feedback)]</a></li>
        }
    </ul>
</div>

<script src="/js/growl.js" type="text/javascript"></script>
<link href="/css/growl.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var settings = {
        growlTitle: '@Localizer[nameof(Languages.LanguageStrings.Helpdesk)]',
        updateMsg: '@Model.GrowlMessage'
    };

    helpdesk.init(settings);
</script>


