@model HelpdeskPlugin.Models.SubmitTicketViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer[nameof(Languages.LanguageStrings.SubmitATicket)];
}

<h2>@Localizer[nameof(Languages.LanguageStrings.SubmitATicket)]</h2>

<div class="helpdeskContent">
    <div class="helpdesk-row">
        <p>@Localizer[nameof(Languages.LanguageStrings.HelpdeskLeaveFeedbackDescription)]</p>
        <p>@Localizer[nameof(Languages.LanguageStrings.NotSupportArea)] @Html.ActionLink(Localizer[Languages.LanguageStrings.SupportTicket].Value, nameof(HelpdeskPlugin.Controllers.HelpdeskController.SubmitTicket), HelpdeskPlugin.Controllers.HelpdeskController.Name)</p>
        <p>@Localizer[nameof(Languages.LanguageStrings.AbridgedWarning)]</p>
    </div>
    @using (Html.BeginForm(nameof(HelpdeskPlugin.Controllers.HelpdeskController.LeaveFeedback), HelpdeskPlugin.Controllers.HelpdeskController.Name, FormMethod.Post))
    {
    <div class="helpdesk-block">
        <div class="helpdesk-row">
            @Html.LabelFor(m => m.Username)
        </div>
        <div class="helpdesk-row">
            @Html.TextBoxFor(m => m.Username)
        </div>
        <div class="helpdesk-row">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="helpdesk-row">
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="helpdesk-row">
            @Html.LabelFor(m => m.Department)
        </div>
        <div class="helpdesk-row">
            @Html.DropDownListFor(m => m.Department, new SelectList(Model.Departments, "Id", "Description")) @Html.ValidationMessageFor(m => m.Department)
        </div>
        <div class="helpdesk-row">
            @Html.LabelFor(m => m.Priority)
        </div>
        <div class="helpdesk-row">
            @Html.DropDownListFor(m => m.Priority, new SelectList(Model.Priorities, "Id", "Description")) @Html.ValidationMessageFor(m => m.Priority)
        </div>
        <div class="helpdesk-row">
            <p>@Html.LabelFor(m => m.Subject)</p>
            @Html.TextAreaFor(m => m.Subject)<br />
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
        <div class="helpdesk-row">
            <p>@Html.LabelFor(m => m.Message)</p>
        </div>
        <div class="helpdesk-row">
            @Html.TextAreaFor(m => m.Message)<br />
            @Html.ValidationMessageFor(m => m.Message)
        </div>
        <div class="helpdesk-row">
            @Html.LabelFor(m => m.CaptchaText)
        </div>
        <div class="helpdesk-row">
            <img src="/Helpdesk/GetCaptchaImage/" />
        </div>
        <div class="helpdesk-row">
            @Html.TextBoxFor(m => m.CaptchaText) @Html.ValidationMessageFor(m => m.CaptchaText)
            @Html.ValidationMessageFor(m => m.CaptchaText)
        </div>
        <div class="helpdesk-row">
            <input type="submit" value="@Localizer[nameof(Languages.LanguageStrings.Submit)]" />
        </div>
    </div>
    }
</div>
