@model HelpdeskPlugin.Models.FindTicketViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer[nameof(Languages.LanguageStrings.FindATicket)];
}

<div class="bc">@Html.Raw(Model.BreadcrumbData())</div>

<h2>@Localizer[nameof(Languages.LanguageStrings.FindATicket)]</h2>

<link rel="stylesheet" href="/css/Helpdesk.css" />
<script src="~/js/helpdesk.js"></script>

<div>@Html.ValidationSummary()</div>

<div class="helpdeskContent">
    <div class="helpdesk-row">
        <p>@Localizer[nameof(Languages.LanguageStrings.TicketFindDescription)]</p>
    </div>
    @using (Html.BeginForm(nameof(HelpdeskPlugin.Controllers.HelpdeskController.FindTicket), HelpdeskPlugin.Controllers.HelpdeskController.Name, FormMethod.Post))
    {
        <div class="helpdesk-block">
            <div class="helpdesk-row">
                <p>@Html.LabelFor(m => m.Email)</p>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="helpdesk-row">
                <p>@Html.LabelFor(m => m.Key)</p>
                @Html.TextBoxFor(m => m.Key)
                @Html.ValidationMessageFor(m => m.Key)
            </div>

            @if (Model.ShowCaptchaText)
            {
                <div class="helpdesk-row">
                    @Html.LabelFor(m => m.CaptchaText)
                </div>
                <div class="helpdesk-row">
                    <img src="/Helpdesk/GetCaptchaImage/" />
                </div>
                <div class="helpdesk-row">
                    @Html.TextBoxFor(m => m.CaptchaText) @Html.ValidationMessageFor(m => m.CaptchaText)
                </div>
            }
        </div>

        <div class="helpdesk-row">
            <input type="submit" value="@Localizer[nameof(Languages.LanguageStrings.Submit)]" />
        </div>
    }
</div>