@model HelpdeskPlugin.Models.SubmitTicketViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = Localizer[nameof(Languages.LanguageStrings.SubmitTicket)];
object readonlyUser;
if (Model.ReadonlyUser)
{
readonlyUser = new { @readonly = "readonly" };
}
else
{
readonlyUser = new { };
}
}
<link rel="stylesheet" href="/css/Helpdesk.css" />
<script src="~/js/helpdesk.js"></script>
@using (Html.BeginForm(nameof(HelpdeskPlugin.Controllers.HelpdeskController.SubmitTicket), HelpdeskPlugin.Controllers.HelpdeskController.Name, FormMethod.Post))
{
<div class="row">
<div class="col">
<h1>@Localizer[nameof(Languages.LanguageStrings.SubmitTicket)]</h1>
</div>
</div>
<div class="row hd-row">
<div class="col">
<p>@Localizer[nameof(Languages.LanguageStrings.Name)]</p>
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-5">
@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-7">
@Html.ValidationMessageFor(m => m.Username)
</div>
</div>
<div class="row hd-row">
<div class="col">
<p>@Localizer[nameof(Languages.LanguageStrings.Email)]</p>
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-5">
@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-7">
@Html.ValidationMessageFor(m => m.Email)
</div>
</div>
<div class="row hd-row">
<div class="col">
<p>@Localizer[nameof(Languages.LanguageStrings.Department)]</p>
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-5">
@Html.DropDownListFor(m => m.Department, new SelectList(Model.Departments, "Id", "Description"), new { @class = "form-control" })
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-7">
@Html.ValidationMessageFor(m => m.Department)
</div>
</div>
<div class="row hd-row">
<div class="col">
<p>@Localizer[nameof(Languages.LanguageStrings.Priority)]</p>
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-5">
@Html.DropDownListFor(m => m.Priority, new SelectList(Model.Priorities, "Id", "Description"), new { @class = "form-control" })
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-7">
@Html.ValidationMessageFor(m => m.Priority)
</div>
</div>
<div class="row hd-row">
<div class="col">
<p>@Localizer[nameof(Languages.LanguageStrings.Subject)]</p>
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-7">
@Html.ValidationMessageFor(m => m.Subject)
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-5">
@Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
</div>
</div>
<div class="row hd-row">
<div class="col">
<p>@Localizer[nameof(Languages.LanguageStrings.Message)]</p>
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-7">
@Html.ValidationMessageFor(m => m.Message)
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-5">
@Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
</div>
</div>
<div class="row hd-row">
<div class="col">
<p>@Localizer[nameof(Languages.LanguageStrings.Code)]</p>
</div>
</div>
<div class="row">
<div class="col">
<img src="/Helpdesk/GetCaptchaImage/" />
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-5">
@Html.TextBoxFor(m => m.CaptchaText, new { @class = "form-control" })
</div>
</div>
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-7">
@Html.ValidationMessageFor(m => m.CaptchaText)
</div>
</div>
<div class="row hd-row">
<div class="col">
<input class="btn btn-primary" type="submit" value="@Localizer[nameof(Languages.LanguageStrings.Submit)]" />
</div>
</div>
}
