@model SystemAdmin.Plugin.Models.AvailableIconViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using SharedPluginFeatures

<div class="bc">@Html.Raw(Model.BreadCrumb)</div>

<h1>@Model.Title</h1>
<div class="row">
    @{
        if (Model.HomeIcons != null)
        {
            foreach (SystemAdminMainMenu menu in Model.HomeIcons)
            {
                <div class="col-md-3">
                    <div class="systemIcon" style="border: solid 1px @menu.BackColor()">
                        <a asp-area="@menu.Area()" asp-controller="@menu.Controller()" asp-action="@menu.Action()" asp-route-id="@menu.UniqueId">
                            <h3 style="background-color: @menu.BackColor(); color: @menu.ForeColor()">@menu.Name()</h3>
                            <img src="@Model.ProcessImage(menu.Image())" />
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            foreach (SystemAdminSubMenu menu in Model.MenuItems)
            {
                <div class="col-md-3">
                    <div class="systemIcon" style="border: solid 1px @menu.BackColor()">
                        <a href="@Model.GetMenuLink(menu)">
                            <h3 style="background-color: @menu.BackColor(); color: @menu.ForeColor()">@menu.Name()</h3>
                            <img src="@Model.ProcessImage(menu.Image())" />
                        </a>
                    </div>
                </div>

            }
        }
    }
</div>
