@model UserAccount.Plugin.Models.BillingAddressViewModel
@{
    ViewData["Title"] = "BillingAddress";
}

<h2>@Languages.LanguageStrings.MyBillingAddress</h2>

<link rel="stylesheet" href="/css/Account.css" />

<div>@Html.ValidationSummary(true)</div>

@using (Html.BeginForm("BillingAddress", "Account", FormMethod.Post, new { id = "billingAddressForm" }))
{
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.Country)
        </div>
        <div class="account-row">
            @Html.DropDownListFor(m => m.Country, new SelectList(UserAccount.Plugin.Controllers.AccountController.Countries, "Code", "Name")) @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>

    @if (Model.ShowBusinessName)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.BusinessName)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.BusinessName) @Html.ValidationMessageFor(m => m.BusinessName)
            </div>
        </div>
    }

    @if (Model.ShowAddressLine1)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.AddressLine1)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.AddressLine1) @Html.ValidationMessageFor(m => m.AddressLine1)
            </div>
        </div>
    }

    @if (Model.ShowAddressLine2)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.AddressLine2)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.AddressLine2) @Html.ValidationMessageFor(m => m.AddressLine2)
            </div>
        </div>
    }

    @if (Model.ShowAddressLine3)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.AddressLine3)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.AddressLine3) @Html.ValidationMessageFor(m => m.AddressLine3)
            </div>
        </div>
    }

    @if (Model.ShowCity)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.City)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.City) @Html.ValidationMessageFor(m => m.City)
            </div>
        </div>
    }

    @if (Model.ShowCounty)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.County)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.County) @Html.ValidationMessageFor(m => m.County)
            </div>
        </div>
    }

    @if (Model.ShowPostcode)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.Postcode)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.Postcode) @Html.ValidationMessageFor(m => m.Postcode)
            </div>
        </div>
    }

    <div class="account-block">
        <input id="btnUpdateBillingAddress" type="submit" value="@Languages.LanguageStrings.Update" />
    </div>
}


