@model UserAccount.Plugin.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { id = "updatePasswordForm" }))
{

    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.Username)
        </div>
        <div class="account-row">
            @Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.CurrentPassword)
        </div>
        <div class="account-row">
            @Html.PasswordFor(m => m.CurrentPassword) @Html.ValidationMessageFor(m => m.CurrentPassword)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="account-row">
            @Html.PasswordFor(m => m.NewPassword) @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.ConfirmNewPassword)
        </div>
        <div class="account-row">
            @Html.PasswordFor(m => m.ConfirmNewPassword) @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
        </div>
    </div>

    <div class="account-block">
        <input id="btnLogon" type="submit" value="Change Password" />
    </div>
}