@model UserAccount.Plugin.Models.CreateAccountViewModel
@{
    ViewData["Title"] = "CreateAccount";
}

<h2>@Languages.LanguageStrings.CreateAccount</h2>

<link rel="stylesheet" href="/css/Account.css" />

<div>@Html.ValidationSummary(true)</div>

@using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post, new { id = "createPasswordForm" }))
{
    @Html.HiddenFor(m => m.ShowCaptchaImage)

    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.FirstName)
        </div>
        <div class="account-row">
            @Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.Surname)
        </div>
        <div class="account-row">
            @Html.TextBoxFor(m => m.Surname) @Html.ValidationMessageFor(m => m.Surname)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="account-row">
            @Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.Country)
        </div>
        <div class="account-row">
            @Html.DropDownListFor(m => m.Country, new SelectList(UserAccount.Plugin.Controllers.AccountController.Countries, "Code", "Name")) @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="account-row">
            @Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="account-block">
        <div class="account-row">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="account-row">
            @Html.PasswordFor(m => m.ConfirmPassword) @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>

    @if (Model.ShowTelephone)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.Telephone)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.Telephone) @Html.ValidationMessageFor(m => m.Telephone)
            </div>
        </div>
    }

    @if (Model.ShowBusinessName)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.BusinessName)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.BusinessName) @Html.ValidationMessageFor(m => m.BusinessName)
            </div>
        </div>
    }

    @if (Model.ShowAddressLine1)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.AddressLine1)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.AddressLine1) @Html.ValidationMessageFor(m => m.AddressLine1)
            </div>
        </div>
    }

    @if (Model.ShowAddressLine2)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.AddressLine2)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.AddressLine2) @Html.ValidationMessageFor(m => m.AddressLine2)
            </div>
        </div>
    }

    @if (Model.ShowAddressLine3)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.AddressLine3)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.AddressLine3) @Html.ValidationMessageFor(m => m.AddressLine3)
            </div>
        </div>
    }

    @if (Model.ShowCity)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.City)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.City) @Html.ValidationMessageFor(m => m.City)
            </div>
        </div>
    }

    @if (Model.ShowCounty)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.County)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.County) @Html.ValidationMessageFor(m => m.County)
            </div>
        </div>
    }

    @if (Model.ShowPostcode)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.Postcode)
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.Postcode) @Html.ValidationMessageFor(m => m.Postcode)
            </div>
        </div>
    }

    @if (Model.ShowCaptchaImage)
    {
        <div class="account-block">
            <div class="account-row">
                @Html.LabelFor(m => m.CaptchaText)
            </div>
            <div class="account-row">
                <img src="/Account/GetCaptchaImage/" />
            </div>
            <div class="account-row">
                @Html.TextBoxFor(m => m.CaptchaText) @Html.ValidationMessageFor(m => m.CaptchaText)
            </div>
        </div>
    }

    <div class="account-block">
        <input id="btnCreateAccount" type="submit" value="@Languages.LanguageStrings.CreateAccount" />
    </div>
}

