@model UserAccount.Plugin.Models.ViewDownloadViewItem
@{
    ViewData["Title"] = "DownloadView";
}

<div class="bc">@Html.Raw(Model.BreadcrumbData())</div>

<h2>@Languages.LanguageStrings.Download @Model.Name</h2>

<link rel="stylesheet" href="/css/Account.css" />

<div class="account-block">
    <h3>@Languages.LanguageStrings.Description</h3>
    <div class="account-row">
        <p>@Model.Description</p>
    </div>
</div>
<div class="account-block">
    <h3>@Languages.LanguageStrings.Details</h3>

    @if (!String.IsNullOrEmpty(Model.Size))
    {
        <div class="account-row">
            <p><span>File Size:</span>@Model.Size</p>
        </div>
    }
    <div class="account-row">
        <p><span>@Languages.LanguageStrings.FileName:</span>@System.IO.Path.GetFileName(Model.Filename)</p>
    </div>
    @if (!String.IsNullOrEmpty(Model.Version))
    {
        <div class="account-row">
            <p><span>File Version:</span>@Model.Version</p>
        </div>
    }

    @using (Html.BeginForm("DownloadFile", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Filename)

        <button type="submit">@Languages.LanguageStrings.Download</button>
    }
</div>
