@model UserAccount.Plugin.Models.AccountViewModel
@{
    ViewData["Title"] = "Account";
}

<h2>@Languages.LanguageStrings.MyAccount</h2>

<link rel="stylesheet" href="/css/Account.css" />
<script src="~/js/userAccount.js"></script>

<div class="accountContent">
    <ul class="accountOptions fixed">
        <li class="email"><a href="/Account/UserContactDetails">@Languages.LanguageStrings.ContactDetails</a></li>
        <li class="password"><a href="/Account/ChangePassword">@Languages.LanguageStrings.ChangePassword</a></li>

        @if (Model.Settings.ShowBillingAddress)
        {
            <li class="billing"><a href="/Account/BillingAddress">@Languages.LanguageStrings.BillingAddress</a></li>
        }

        @if (Model.Settings.ShowDeliveryAddress)
        {
            <li class="delivery"><a href="/Account/DeliveryAddress">@Languages.LanguageStrings.DeliveryAddress</a></li>
        }

        @if (Model.Settings.ShowMarketingPreferences)
        {
            <li class="offers"><a href="/Account/MarketingPreferences">@Languages.LanguageStrings.AppMarketing</a></li>
        }

        @if (Model.Settings.ShowOrders)
        {
            <li class="orders"><a href="/Account/Orders">@Languages.LanguageStrings.Orders</a></li>
        }

        @if (Model.Settings.ShowInvoices)
        {
            <li class="invoices"><a href="/Account/Invoices">@Languages.LanguageStrings.Invoices</a></li>
        }

        @if (Model.Settings.ShowSupportTickets)
        {
            <li class="tickets"><a href="/Account/SupportTickets">@Languages.LanguageStrings.SupportTickets</a></li>
        }

        @if (Model.Settings.ShowDownloads)
        {
            <li class="download"><a href="/Account/Downloads">@Languages.LanguageStrings.Downloads</a></li>
        }

        @if (Model.Settings.ShowLicences)
        {
            <li class="licence"><a href="/Account/Licences">@Languages.LanguageStrings.Licences</a></li>
        }
    </ul>
</div>

<script src="/js/growl.js" type="text/javascript"></script>
<link href="/css/growl.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var settings = {
        updateMsg: '@Model.GrowlMessage'
    };

    userAccount.init(settings);
    @*$(document).ready(function () {
        var gr = '@Model.GrowlMessage';

        if (gr !== '')
            $.growl.notice({ title: 'Account Updated', message: gr });
    });*@
</script>


