@model ShoppingCartPlugin.Models.CheckoutModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer[nameof(Languages.LanguageStrings.Checkout)];
}
<div class="bc">@Html.Raw(Model.BreadcrumbData())</div>

<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />

<h2>@Localizer[nameof(Languages.LanguageStrings.Checkout)];</h2>

<div class="row">
    @if (Model.Providers.Any())
    {
        <div class="payment-provders">
            <h3>@Localizer[nameof(Languages.LanguageStrings.SelectDeliveryAddress)]</h3>

            @foreach (var item in Model.Providers)
            {
                <div class="payment-provder">
                    @using (Html.BeginForm(nameof(ShoppingCartPlugin.Controllers.CartController.Checkout), "Cart", FormMethod.Post))
                    {
                        <input type="submit" value="@Localizer[nameof(Languages.LanguageStrings.Select)]" />
                        @Html.HiddenFor(m => m.ShippingId)
                        <input type="hidden" name="SelectedProvider" value="@item.Name()" />

                        <div class="row">
                            <img src="~/images/Cart/Providers/@item.Name()" />
                        </div>
                    }
                </div>
            }
        </div>
    }

    @using (Html.BeginForm("DeliveryAddressAdd", "Account", FormMethod.Get))
    {
        <input type="hidden" name="returnUrl" value="/Cart/Shipping" />
        <input type="submit" value="@Localizer[nameof(Languages.LanguageStrings.DeliveryAddressAdd)]" />
    }
</div>
