@model ShoppingCartPlugin.Models.BasketModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer[nameof(Languages.LanguageStrings.ShoppingCart)];
}

<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />

<h2>@Localizer[nameof(Languages.LanguageStrings.ShoppingCart)]</h2>

<div class="shoppingCart">
    @if (Model.BasketItems.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>@Localizer[nameof(Languages.LanguageStrings.Product)]</th>
                    <th style="width:100px;">@Localizer[nameof(Languages.LanguageStrings.Price)]</th>
                    <th style="width:150px;">@Localizer[nameof(Languages.LanguageStrings.Quantity)]</th>
                    <th style="width:120px;">@Localizer[nameof(Languages.LanguageStrings.Availability)]</th>
                    @*<th style="width:100px;">@Localizer[nameof(Languages.LanguageStrings.BackOrder)]</th>*@
                    <th style="width:100px;">@Localizer[nameof(Languages.LanguageStrings.SubTotal)]</th>
                    <th style="width:18px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ShoppingCartPlugin.Models.BasketItemModel item in Model.BasketItems)
                {
                    <tr>
                        <td>
                            <a href="@item.Url"><img src="~/images/products/@item.Image" />
                                <h3>@item.Name</h3>
                                <div class="cartDetail">
                                    @if (!String.IsNullOrEmpty(item.Sku))
                                    { @Html.Raw($"<span><strong>SKU: </strong>{item.Sku}</span>");
                                    }
                                    @if (!String.IsNullOrEmpty(item.Size))
                                    { @Html.Raw($"<span><strong>Size: </strong>{item.Size}</span>");
                                    }
                                </div>
                                <p>@item.ShortDescription</p>
                            </a>
                        </td>
                        <td>@item.Price.ToString("C", System.Threading.Thread.CurrentThread.CurrentUICulture)</td>
                        <td>
                            @await Html.PartialAsync("_QuantityUpdate.cshtml", new ShoppingCartPlugin.Models.UpdateQuantityModel(item.ProductId, item.Quantity))
                        </td>
                        <td>@item.Stock</td>
                        @*<td>@if (item.BackOrder) { Html.Raw("<img src=\"/images/Cart/tick.png\" style=\"width:19px;margin:1px;\" />"); }</td>*@
                        <td>@item.SubTotal.ToString("C", System.Threading.Thread.CurrentThread.CurrentUICulture)</td>
                        <td><a href="/Cart/Delete/@item.ProductId/"><img src="~/images/Cart/Delete.png" style="width:16px;margin:1px;" /></a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="voucher">
            @await Html.PartialAsync("_Voucher.cshtml", new ShoppingCartPlugin.Models.VoucherModel())
        </div>
    }
    else
    {
        <p>@Localizer[nameof(Languages.LanguageStrings.ShoppingCartEmpty)], @Localizer[nameof(Languages.LanguageStrings.ContinueShopping)]</p>
    }

</div>

<script src="~/js/Cart.js"></script>



