@model UserAccount.Plugin.Models.ChangePasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "Change Password";
}
<link rel="stylesheet" href="/css/Account.css" />
<div class="row ac-row">
<div class="col">
<h1>@Localizer[nameof(Languages.LanguageStrings.ChangePassword)]</h1>
</div>
</div>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
{
<div class="row ac-row">
<div class="col">
@Html.ValidationSummary(true)
</div>
</div>
<div class="row ac-row">
<div class="col-sm-12 col-md-4 col-lg-3">
@Html.LabelFor(m => m.Username)
</div>
<div class="col-sm-12 col-md-5 col-lg-4">
@Html.TextBoxFor(m => m.Username, new { @readonly = "true", @class = "form-control" })
@Html.ValidationMessageFor(m => m.Username)
</div>
</div>
<div class="row ac-row">
<div class="col-sm-12 col-md-4 col-lg-3">
@Html.LabelFor(m => m.CurrentPassword)
</div>
<div class="col-sm-12 col-md-5 col-lg-4">
@Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
@Html.ValidationMessageFor(m => m.CurrentPassword)
</div>
</div>
<div class="row ac-row">
<div class="col-sm-12 col-md-4 col-lg-3">
@Html.LabelFor(m => m.NewPassword)
</div>
<div class="col-sm-12 col-md-5 col-lg-4">
@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
@Html.ValidationMessageFor(m => m.NewPassword)
</div>
</div>
<div class="row ac-row">
<div class="col-sm-12 col-md-4 col-lg-3">
@Html.LabelFor(m => m.ConfirmNewPassword)
</div>
<div class="col-sm-12 col-md-5 col-lg-4">
@Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
@Html.ValidationMessageFor(m => m.ConfirmNewPassword)
</div>
</div>
<div class="row ac-row">
<div class="col">
<input id="btnChangePassword" class="btn btn-primary" type="submit" value="@Localizer[nameof(Languages.LanguageStrings.ChangePassword)]" />
</div>
</div>
}