@model UserAccount.Plugin.Models.MarketingPreferencesViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "Marketing Preferences";
}
<div class="row ac-row">
<div class="col">
<h1>@Localizer[nameof(Languages.LanguageStrings.MarketingPreferences)]</h1>
</div>
</div>
<link rel="stylesheet" href="/css/Account.css" />
@using (Html.BeginForm("MarketingPreferences", "Account", FormMethod.Post, new { id = "marketingPreferecesEditForm" }))
{
@if (Model.ShowEmail)
{
<div class="row ac-row">
<div class="col form-check">
@Html.CheckBoxFor(m => m.EmailOffers, new { @class = "form-check-input" })
@Html.LabelFor(m => m.EmailOffers, new { @class = "form-check-label" })
</div>
</div>
}
@if (Model.ShowTelephone)
{
<div class="row ac-row">
<div class="col form-check">
@Html.CheckBoxFor(m => m.TelephoneOffers, new { @class = "form-check-input" })
@Html.LabelFor(m => m.TelephoneOffers, new { @class = "form-check-label" })
</div>
</div>
}
@if (Model.ShowSMS)
{
<div class="row ac-row">
<div class="col form-check">
@Html.CheckBoxFor(m => m.SMSOffers, new { @class = "form-check-input" })
@Html.LabelFor(m => m.SMSOffers, new { @class = "form-check-label" })
</div>
</div>
}
@if (Model.ShowPostal)
{
<div class="row ac-row">
<div class="col form-check">
@Html.CheckBoxFor(m => m.PostalOffers, new { @class = "form-check-input" })
@Html.LabelFor(m => m.PostalOffers, new { @class = "form-check-label" })
</div>
</div>
}
<div class="row ac-row">
<div class="col">
<input id="updateMarketingPreferences" class="btn btn-primary" type="submit" value="@Localizer[nameof(Languages.LanguageStrings.Update)]" />
</div>
</div>
}