@model LoginPlugin.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
<link rel="stylesheet" href="/css/login.css" />

<div>@Html.ValidationSummary(true)</div>


@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
    <div class="login-block">
        <p>Please enter your username or password and a temporary password will be sent to you via email.</p>
    </div>
    <div class="login-block">
        <div class="login-row">
            @Html.LabelFor(m => m.Username)
        </div>
        <div class="login-row">
            @Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div class="login-block">
        <div class="login-row">
            @Html.LabelFor(m => m.CaptchaText)
        </div>
        <div class="login-row">
            <img src="/Login/GetCaptchaImage/" />
        </div>
        <div class="login-row">
            @Html.TextBoxFor(m => m.CaptchaText) @Html.ValidationMessageFor(m => m.CaptchaText)
        </div>
    </div>
    <div class="login-block">
        <input type="submit" value="Request Password" />
    </div>
}
