@model LoginPlugin.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>

<div>@Html.ValidationSummary(true)</div>


@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
    <div>
        <p>Please enter your username or password and a temporary password will be sent to you via email.</p>
    </div>
    <div>
        <div>
            @Html.LabelFor(m => m.Username)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div>
        <div>
            @Html.LabelFor(m => m.CaptchaText)
        </div>
        <img src="/Login/GetCaptchaImage/" />
        <div>
            @Html.TextBoxFor(m => m.CaptchaText) @Html.ValidationMessageFor(m => m.CaptchaText)
        </div>
    </div>
    <div>
        <input type="submit" value="Request Password" />
    </div>
}
