@model LoginPlugin.Models.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/login.css" />

<h2>Login</h2>

<script src="/js/Login.js"></script>

<div>@Html.ValidationSummary(true)</div>


@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.HiddenFor(m => m.ShowCaptchaImage)
    @Html.HiddenFor(m => m.ShowRememberMe)

    <div>
        <div>
            @Html.LabelFor(m => m.Username)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div>
        <div>
            @Html.LabelFor(m => m.Password)
        </div>
        <div>
            @Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    @if (Model.ShowRememberMe)
    {
        <div>
            <div>
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div>
                @Html.CheckBoxFor(m => m.RememberMe) @Html.ValidationMessageFor(m => m.RememberMe)
            </div>
        </div>
    }

    @if (Model.ShowCaptchaImage)
    {
        <div>
            <div>
                @Html.LabelFor(m => m.CaptchaText)
            </div>
            <img src="/Login/GetCaptchaImage/" />
            <div>
                @Html.TextBoxFor(m => m.CaptchaText) @Html.ValidationMessageFor(m => m.CaptchaText)
            </div>
        </div>
    }

    <div>
        <input type="submit" value="Login" />
        <input id="forgotPassword" type="button" value="Forgot Password" />
    </div>
}

<script>
    var controls = {
        forgotPassword: '#forgotPassword'
    };
    loginPlugin.init(controls);
</script>