@model DocumentationPlugin.Models.DocumentViewTypeViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Type";
}
<link rel="stylesheet" type="text/css" href="/css/documentation.css" />
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="docContents">
                <h3>@Localizer[nameof(Languages.LanguageStrings.Contents)]</h3>
                @Html.Raw(Model.AllReferences)
            </div>
        </div>
        <div class="col-lg-7">
            <h2>@Model.TypeName</h2>
            @await Html.PartialAsync("_DocumentDataType.cshtml", Model)
        </div>
        <div class="col-lg-2">
            <div class="docReferences" id="divReferences">
                @if (Model.SeeAlso != null && Model.SeeAlso.Count > 0)
                {
                    <h3>@Localizer[nameof(Languages.LanguageStrings.SeeAlso)]</h3>
                    <ul>
                        @foreach (var item in Model.SeeAlso)
                        {
                            <li>@Html.Raw($"<a href=\"{item.Key}\">{item.Value}</a>")</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>


<script>
window.onscroll = function() {scrollFunc()};

var navbar = document.getElementById("divReferences");
var sticky = navbar.offsetTop;

function scrollFunc() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("stickyRef")
  } else {
    navbar.classList.remove("stickyRef");
  }
}
</script>