@using Microsoft.Extensions.DependencyInjection;
@using AspNetCore.PluginManager.DemoWebsite.Helpers;
@using SharedPluginFeatures;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model SharedPluginFeatures.BaseModel
@{
    ShoppingCartSummary cartSummary = Model.CartSummary;
    var items = Localizer[nameof(Languages.LanguageStrings.Items)];
    string cost = 0d.ToString("C", Model.CartSummary.Culture);

    if (cartSummary != null)
    {
        items = cartSummary.TotalItems == 1 ? Localizer[nameof(Languages.LanguageStrings.Item)] : Localizer[nameof(Languages.LanguageStrings.Items)];
        cost = cartSummary.Total.ToString("C", Model.CartSummary.Culture);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCore.PluginManager</title>
</head>
<body>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AspNetCore.PluginManager</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        // dynamically add menu items from plugins
                        ISharedPluginHelper sharedPluginHelper = Startup.GetServiceProvider.GetRequiredService<ISharedPluginHelper>();
                        foreach (MainMenuItem menuItem in sharedPluginHelper.BuildMainMenu())
                        {
                            <li><a asp-area="@menuItem.Area()" asp-controller="@menuItem.Controller()" asp-action="@menuItem.Action()">@menuItem.Name()</a></li>
                        }
                    }

                    <li><a asp-area="" asp-controller="Home" asp-action="About">@Localizer[nameof(Languages.LanguageStrings.About)]</a></li>
                </ul>
                <div class="cart-summary">
                    <a href="/Cart/">
                        <img src="~/images/Cart/shopping-cart-24.png" />
                        <p>@Model.CartSummary.Total @items<span>@cost</span></p>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*@RenderSection("Scripts", required: false)*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - 2019 - Simon Carter.  All Rights Reserved.</p>
            <div class="row">
                @await Html.PartialAsync("_LanguageSelection")
            </div>
        </footer>
    </div>

</body>
</html>
