@model Blog.Plugin.Models.CommentViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm(nameof(Blog.Plugin.Controllers.BlogController.Comment), Blog.Plugin.Controllers.BlogController.Name, FormMethod.Post))
        {
            @Html.HiddenFor(m => m.BlogId)
            <div class="container blogComment">
                <h3>@Localizer[nameof(Languages.LanguageStrings.AddComment)]</h3>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.ValidationSummary()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.Comment)
                    </div>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(m => m.Comment)
                        <br />@Html.ValidationMessageFor(m => m.Comment)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit">@Localizer[nameof(Languages.LanguageStrings.Add)]</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
