@model LoginPlugin.Models.AccountLockedViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "AccountLocked";
}
<link rel="stylesheet" href="/css/login.css" />
<div class="row">
<div class="col-sm-12">
<h1>@Localizer[nameof(Languages.LanguageStrings.AccountLocked)]</h1>
<div>@Html.ValidationSummary(true)</div>
@using (Html.BeginForm("AccountLocked", "Login", FormMethod.Post, new { id = "frmUnlockAccount" }))
{
@Html.HiddenFor(m => m.Username)
<div class="login-block">
<p>@Localizer[nameof(Languages.LanguageStrings.AccountLockedDescription)]</p>
</div>
<div class="login-block">
<div class="login-row">
@Html.LabelFor(m => m.UnlockCode)
</div>
<div class="login-row">
@Html.TextBoxFor(m => m.UnlockCode) @Html.ValidationMessageFor(m => m.UnlockCode)
</div>
</div>
<div class="login-block">
<input class="btn btn-primary" type="submit" value="@Localizer[nameof(Languages.LanguageStrings.Unlock)]" />
</div>
}
</div>
</div>