@model LoginPlugin.Models.ForgotPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="/css/login.css" />
<div class="row">
<div class="col-sm-12">
<h1>@Localizer[nameof(Languages.LanguageStrings.ForgotPassword)]</h1>
<div>@Html.ValidationSummary(true)</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
<div class="container">
<div class="row">
<div class="col-sm-12">
<p>@Localizer[nameof(Languages.LanguageStrings.ForgotPasswordDescription)]</p>
</div>
</div>
<div class="row">
<div class="col-sm-12">
@Html.LabelFor(m => m.Username)
</div>
</div>
<div class="row">
<div class="col-sm-12">
@Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(m => m.Username)
</div>
</div>
<div class="row">
<div class="col-sm-12">
@Html.LabelFor(m => m.CaptchaText)
</div>
</div>
<div class="row">
<div class="col-sm-12">
<img src="/Login/GetCaptchaImage/" />
</div>
</div>
<div class="row">
<div class="col-sm-12">
@Html.TextBoxFor(m => m.CaptchaText) @Html.ValidationMessageFor(m => m.CaptchaText)
</div>
</div>
<div class="row">
<div class="col-sm-12">
<input class="btn btn-primary" type="submit" value="@Localizer[nameof(Languages.LanguageStrings.RequestPassword)]" />
</div>
</div>
</div>
}
</div>
</div>