@model SystemAdmin.Plugin.Models.AvailableIconViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "Home Page";
}
@using SharedPluginFeatures
<link rel="stylesheet" href="~/css/SystemAdmin.css" asp-append-version="true" />
<h1>@Model.Title</h1>
<div class="row">
<div class="col">
@{ if (Model.HomeIcons != null)
{
foreach (SystemAdminMainMenu menu in Model.HomeIcons)
{
<div class="systemIcon" style="border: solid 1px @menu.BackColor()">
<a asp-area="@menu.Area()" asp-controller="@menu.Controller()" asp-action="@menu.Action()" asp-route-id="@menu.UniqueId">
<h3 style="background-color: @menu.BackColor(); color: @menu.ForeColor()">@Localizer[menu.Name]</h3>
<img src="@Model.ProcessImage(menu.Image)" />
</a>
</div>
}
}
else
{
foreach (SystemAdminSubMenu menu in Model.MenuItems)
{
<div class="systemIcon" style="border: solid 1px @menu.BackColor()">
<a href="@Model.GetMenuLink(menu)">
<h3 style="background-color: @menu.BackColor(); color: @menu.ForeColor()">@Localizer[menu.Name()]</h3>
<img src="@Model.ProcessImage(menu.Image())" />
</a>
</div>
}
}
}
</div>
</div>