@model Resources.Plugin.Models.ResourceViewItemModel
@using SharedPluginFeatures
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = $"{Model.Name} - {Model.SeoTitle}";

    string data = "";

    if (Model.ResourceType == Middleware.ResourceType.Image)
    {
        data = $"<img src=\"{Model.Value}\" alt=\"{Model.Name}\" />";
    }
    else if (Model.ResourceType == Middleware.ResourceType.Text)
    {
        data = Model.Value;
    }
    else
    {
        data = $"<div>{Model.Value}</div>";
    }
    bool enabled = Model.UserIsLoggedIn && Context.User.HasClaim(SharedPluginFeatures.Constants.ClaimNameAddResources, "true");
}

@{
    if (Model.ResourceType == Middleware.ResourceType.Text)
    {
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                let t = document.getElementById("resourceData");
                t.innerHTML = marked.parse(document.getElementById("Value").value);
            });
        </script>

        @Html.HiddenFor(m => m.Value)
    }
}

<link rel="stylesheet" href="/css/resources.css" />
<script src="/js/resources.js"></script>
<script src="/js/growl.js" type="text/javascript"></script>
<link href="/css/growl.css" rel="stylesheet" type="text/css" />

<h2>@Model.Name</h2>

<div class="docContainer">
    <div class="row">
        <div class="col">
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="row res-row">
        <div class="col" id="resourceData">
            @Html.Raw(data)
        </div>
    </div>
    @if (Model.Tags.Count > 0)
    {
        <div class="row res-row">
            <div class="col" id="resourceData">
                @Localizer[nameof(Languages.LanguageStrings.Tags)]
                @foreach (string tag in Model.Tags)
                {
                    <span class="tag">@tag</span>
                }
            </div>
    </div>
    }
    <div class="row res-row">
        <div class="col">
            @await Html.PartialAsync("_ResourceStats.cshtml", new Resources.Plugin.Models.ResourceItemResponseModel(Model.Id, Model.Likes, Model.Dislikes, Model.ViewCount, enabled))
        </div>
    </div>
</div>
